---
- name: Ensure Firefox is installed
  dnf:
    name: firefox
    state: present
  become: true

- name: Find the default Firefox profile directory
  find:
    paths: "{{ ansible_env.HOME }}/.mozilla/firefox"
    patterns: "*.default*"
    file_type: directory
  register: firefox_profiles

- name: Ensure 'chrome' directory exists in profile
  file:
    path: "{{ item.path }}/chrome"
    state: directory
    mode: '0755'
  loop: "{{ firefox_profiles.files }}"

- name: Deploy user.js (Settings) to every profile
  copy:
    src: "firefox/user.js"
    dest: "{{ item.path }}/user.js"
    mode: '0644'
  loop: "{{ firefox_profiles.files }}"

- name: Import userCSS customization
  copy:
    src: "firefox/userChrome.css"
    dest: "{{ item.path }}/chrome/userChrome.css"
    mode: '0644'
  loop: "{{ firefox_profiles.files }}"
